#doc-container {
    margin-top: 2%;
}

.doc-section {
    margin-top: 3%;
}

.doc-table {
    margin-top: 1%;
}

.property-col {
    font-family: "Courier New", Courier, monospace;
    width: 17%;
}

.default-col {
    font-family: "Courier New", Courier, monospace;
    width: 15%
}

.type-col {
    font-family: "Courier New", Courier, monospace;
    width: 23%;
}

.func-col {
    font-family: "Courier New", Courier, monospace;
    width: 30%;
}

.args-col {
    font-family: "Courier New", Courier, monospace;
    width: 30%;
}

.footer {
    margin-top: 5%;
}

.snippet {
    display: inline-block;
    background-color: #eee;
    padding: 2px 5px;
    margin-bottom: 1px;
    border-radius: 2px;
    color: #444;
    font-size: 15px;
    font-weight: bold
}
